@{
    ViewData["Title"] = "Home";
}
<hr />
<div class="jumbotron">
    <h1>@Environment.GetEnvironmentVariable("STREETCRED_OWNER_NAME")'s Agent</h1>
    <p>
        Welcome! Feel free to look around, you can establish secure connections and exchange messages with other wizards and even muggles.
    </p>
    <p><a class="btn btn-primary btn-lg" asp-area="" asp-controller="Connections" asp-action="CreateInvitation" role="button">Go to Connections</a></p>
</div>
