@using System.Linq
@model CredentialsViewModel

<a class="btn btn-primary mt-3" role="button" asp-controller="Credentials" asp-action="OfferCredential">Offer Credential</a>

@if (Model.Credentials.Any())
{
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Created At</th>
                <th scope="col">State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Credentials)
            {
            <tr>
                <td>@item.Name</td>
                <td>@item.CreatedAt</td>
                <td>
                    @if (item.State == CredentialState.Offered)
                    {
                        <a class="btn btn-primary mt-3" role="button" asp-controller="Credentials" asp-action="AcceptOffer">Accept Offer</a>
                    }
                    else if (item.State == CredentialState.Requested)
                    {
                        <a class="btn btn-primary mt-3" role="button" asp-controller="Credentials" asp-action="IssueCredential">Issue Credential</a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
}